<div id="login-form-component">
    <img src="../assets/img/logo.png" width="150px">
    <form class="login-form">
        <div id="login-with-credentials-gui" class="none">
            <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" />
            <input type="password" class="login-password" required="true" placeholder="Password" />
            <button class="login-submit">→</button>
        </div>

        <div id="login-selector-mode-gui">
            <button class="login-button" onclick="initLoginGui ();">Login with email and password</button>
            <button class="login-button">Import original launcher account</button>
        </div>
    </form>

    <span class="login-forgot-pass text-none">Follow me on Twitter: <a href="javascript:void(0);">@Sammwy_</a></span>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div> 
</div>